.caixa{
    width: 400px;
    background: #dedede url(img_arredondada/fundo-arredondamento.png) repeat-y left top;
}

.caixa h2{
    padding: 10px 20px 0 20px;
    background: url(img_arredondada/topo2.png) no-repeat left top;
}

.caixa p{
    padding: 0 20px 20px 20px;
    background: url(img_arredondada/baixo2.png) no-repeat left bottom;
}

